{% extends 'base.html' %}
{% block title %}Notification{% endblock %}
{% block content %}

<h1 align="center" class="card-header text-white bg-secondary shadow-lg">Notification</h1>
<br>
<ul class="list-group list-group-flush " id="notes">

  {% for note in user.notes|sort(attribute='id', reverse = True) %}
<div align="center">
  <li class="list-group-item text-dark bg-warning shadow-lg" style="width: 500px; border-radius: 25px;">
<b>

     {{ note.data }}

</b>

    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
</div>


  {% endfor %}

</ul>






{% endblock %}