{% extends 'base.html' %}
{% block title %}Details{% endblock %}

{% block content %}
<h3 class="card-header text-white bg-secondary">Hired Plumber Details</h3>

<div class="container emp-profile shadow-lg" style="padding-top: 30px; border-color: yellow">
            <form method="post">
                <div class="row">

                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h3>
                                      <b>{{ plumber.name }}</b>
                                    </h3>

                                    <h6>
                                        {{ plumber.city_of_work }}
                                    </h6>

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                    {% set plumber_id=plumber.id %}
                    <div class="col-md-2">
                        <a href="/hired-history" class="btn btn-warning" style="border-radius: 15px"> < Go Back</a>
                    </div>
                     <div class="col-md-offset-0">
                        <a href="{{ url_for('views.view_plumber_details', record_id = plumber_id) }}" class="btn btn-warning" style="border-radius: 15px">Hire Again > </a>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-8" style="padding-top: 5px; padding-left: 32px">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><b>Occupation</b></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ plumber.occupation }}</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><b>Work</b></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ plumber.work }}</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label><b>Experience</b></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ plumber.years_of_experience }} Years</p>
                                            </div>
                                        </div>

                                <div class="row">
                                            <div class="col-md-6">
                                                <label><b>Age Group</b></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ plumber.age_group }}</p>
                                            </div>
                                        </div>

                                <div class="row">
                                            <div class="col-md-6">
                                                <label><b>NVQ Level</b></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ plumber.nvq_level }}</p>
                                            </div>
                                        </div>

                                <div class="row">
                                            <div class="col-md-6">
                                                <label><b>Hired Date and Time</b></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ hired_plumber.date }}</p>
                                            </div>
                                        </div>
                                <div class="row">
                                            <div class="col-md-6">
                                                <label style="color: red; font-family: 'Dubai Medium',sans-serif; font-size: 27px"><b>Status</b></label>
                                            </div>
                                            <div class="col-md-6">
                                                <p style="color: red; font-family: 'Dubai Medium',sans-serif; font-weight: bolder; font-size: 25px">{{ hired_plumber.status }}</p>
                                            </div>
                                        </div>

 <hr style="height: 5px">
 {% if existence=='false' %}

<!-- Add review-->
                  <h4 style="font-family: 'Dubai Medium',sans-serif">How was your experience ?</h4>
            <div class="card-footer py-3 border-0 shadow-lg">

                <form method="post">
                     <div class="d-flex flex-start w-100">
                        <div class="form-outline w-100">
                <textarea
                  class="form-control"
                  id="message"
                  name="message"
                  rows="4"
                  required
                ></textarea>

              </div>

            </div>
            <div align="right" class="float-end mt-2 pt-1">
                <button type="submit" class="btn btn-warning btn-sm">Add Review</button>
            </div>

                </form>
          </div>
<!--             End of add review                   -->


    {% else %}


<!--   Added Review is shown-->
<h4 style="font-family: 'Dubai Medium',sans-serif">Your Review</h4>
                            {% for r in user.review%}
                           {% if r.plumber_id == plumber.id and r.hired_date == hired_plumber.date %}

                 <section style="background-color: #eee;">
        <div class="card shadow-lg" style="border-color: yellow">
          <div class="card-body">
            <div class="d-flex flex-start align-items-center">

              <div>
                <h6 class="fw-bold text-primary mb-1">{{ r.name }}</h6>
                <p class="text-muted small mb-0">
                  Shared publicly - {{ r.date }}
                </p>
              </div>
            </div>

            <p class="mt-3 mb-4 pb-2">
                {{ r.message }}
            </p>


          </div>

        </div>
</section>


                                {% endif %}
                         {% endfor %}
<!--      End of added review    -->


    {% endif %}


                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>



{% endblock %}